DIFY_API_URL=http://localhost/v1
DIFY_API_KEY=your_dify_api_key

COZE_API_URL=https://api.coze.cn/v3/chat
COZE_API_TOKEN=your_coze_personal_access_token
COZE_BOT_ID=7661162618937622591
COZE_USER_ID=senyang-web-user
COZE_POLL_INTERVAL_MS=400
COZE_MAX_POLLS=75

PORT=3001
